/*.nav-wrapper{
  background-color: #283a59 !important;
}*/

/* IDIOMA*/

.en {
  display: none;
}

.enbutton{
  display: none;
}

.es {
  display: none;
}

.esbutton {
  display: none;
}

/* END OF IDIOMA*/
.raya_azul{
  border-left: 4px solid #283a59;
  padding-left: 20px;
}
.raya_blanca{
  border-left: 4px solid white;
  padding-left: 20px;
}
.raya_azul_derecha{
  border-right:4px solid #283a59;
  padding-right: 20px;
}
.nav{
  padding-top: 12px;
  padding-bottom: 64px;
  background-color: transparent;
  transition: 0.3s;
  padding-right: 92px;
  padding-left: 92px;
}
.navbar-fixed{
  height: 0px !important;
}
#the_bar{
  padding-bottom: 70px;
}
.hide-on-med-and-down li a{
  padding: 0 40px;
}
.hide-on-med-and-down li a:hover{
  background-color: transparent;
}
a, p, h1, h2, h3, h4, h5, h6, span{
  font-family:'Open Sans', sans-serif;;
  font-size: 16px;
  text-align: left;
}
.logo{
  margin-left: 77px;
}
.title{
  color: white;
  font-size: 42.7px;
  text-align: center;
  font-weight: normal;
}
.resaltado{
  font-size: 44.9px;
  font-weight: bold;
  margin-top: -30px;
}
#hero_text{
  position: absolute;
  right: 17px;
  top: 150px;
  width: 577px;
  text-align: center;
}
#test{
  position: relative;
}
#hero{
  width: 100%;
  height: 597px;
  background-image: url("../img/home1.jpg");
  -webkit-background-image: url("../img/home1.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}

#sidenav-overlay {
z-index: 996;
}
.conoce_mas_boton{
  width: 167px;
  height: 40px;
  border-radius: 20.2px;
  border: solid 1px #ffffff;
  margin: 0 auto;
  transition: 0.3s;
  color: white;
}

.conoce_mas_boton:hover{
  background-color: white;
  transition: 0.3s;
  color: #283a59;
}
.conoce_mas_boton a{
    color: inherit;
    font-size: 21px;
}
/* Seccion A */

.recuadro{
  background-color: #283a59;
  width: 4px;
  height: 100%;
  margin-right: 8px;
  float: left;
}
.parrafo{
  font-size: 32px;
  color: #030303;
}
.bold{
  font-weight: bold;
  font-size: inherit;
  color:inherit;
}
@media (min-width: 993px) {
  #parrafo_lideres{
    position: relative;
    top: 50%;
    margin-top: 100px;
  }
  #img_lideres{
    margin-top: 14px;
  }
}

.goal, .sparkles{
  width: 80%;
  max-width: 480px;
}
#seccion_lideres{
  max-width: 1500px;
}
/* Seccion elevamos */
#seccion_elevamos{
  background-image: url("../img/home2.jpg");
  background-size: cover;
  background-position: center;
}
#elevamos_wrapper{
  max-width: 1500px;
  margin-top: 10px;
}
#parrafo_elevamos p, #parrafo_elevamos h2{
  font-size: 30px;
  color: white;
}
@media (min-width: 993px){
  #elevamos_wrapper{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
  }
}
#img_elevamos img{
  width: 100%;
  max-width: 440px;
  margin: 15px;
}
#parrafo_elevamos{
  margin-top: 20px;
}
.sp{
  font-size: 35px;
  text-align: right;
  margin: 150px 0px;
}
#footer{
  background-color: #ebebeb;
  height: 235px;
  position: relative;
  box-shadow: inset 0px 3px 32px 0 rgba(0, 0, 0, 0.29);
}
.copyright{
  color: black;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 0px;
}
.logo_footer{
  margin-top: 93px;
}
 /* Nosotros */
 #hero_nosotros{
   width: 100%;
   height: 597px;
   background-color: #000000;
   background-image: url("../img/2_1.png");
   -webkit-background-image: url("../img/2_1.png");
   background-size: cover;
   -webkit-background-size: cover;
   background-position: right top;
   -webkit-background-position: right top;
 }
 #hero_text_nosotros{
   position: absolute;
   left: 17px;
   top: 120px;
   width: 577px;
   text-align: center;
 }
.mision{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
}
.p_mision{
  font-size: 30px;
  color: black;
  text-align: center;
  margin: 15px 30px;
}
.missionIcon{
  max-width: 238px;
}
.visionIcon{
  max-width: 250px;
}
#seccion_vision{
  background-image: url("../img/2_2.png");
  background-size: cover;
  background-position: right top;
  -webkit-background-position: right top;
}
/*Servicios*/
#hero_servicios{
    width: 100%;
    height: 597px;
    background-color: #000000;
    background-image: url("../img/3_1.png");
    -webkit-background-image: url("../img/3_1.png");
    background-size: cover;
    -webkit-background-size: cover;
}
#hero_text_servicios{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 90%;
    text-align: center;
}
#hero_text_servicios p{
    font-size: 35px;
}
.conoce_mas_boton_servicios{
  width: 220px;
  height: 40px;
  border-radius: 20.2px;
  border: solid 1px #ffffff;
  margin: 0 auto;
  transition: 0.3s;
  color: white;
}

.conoce_mas_boton_servicios:hover{
  background-color: white;
  transition: 0.3s;
  color: #283a59;
}
.conoce_mas_boton_servicios a{
    color: inherit;
    font-size: 21px;
}
.soluciones{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom:50px;
}
.columna_a, .columna_b{
  width: 35%;
  padding-right: 20px;
}
.p_soluciones{
  margin: 30px 0px;
}
.p_sol, .p_rep{
  font-size: 18px;
}
#lupa{
  width: 30%;
  max-width: 238px;
  align-self: center;
}
#lupa img{
  width: 100%;
}
.title_s{
  font-size: 40px;
  text-align: left;
  margin-bottom: 0px;
}
#seccion_reparaciones{
  width: 100%;
  background-image: url("../img/3_2.png");
  -webkit-background-image: url("../img/3_2.png");
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.reparaciones{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.p_rep{
  color: white;
}
.llave{
  max-width: 180px;
  width: 30%;
  margin-right: 30px;
}
.llave img{
  width: 100%;
}
.title_r{
  font-size: 40px;
  text-align: right;
  margin-bottom: 0px;
  width: 100%;
}
.subtitle_r{
  font-size: 18px;
  color: white;
  text-align: right;
  padding-left: 250px;
}
.p_nombre, .p_resaltado{
  color: white;
  margin: 0px;
}
#o_principal, #o_local{
  padding-bottom: 60px;
}
.p_nombre{
  font-size: 20px;
}
.p_resaltado{
  font-size: 23px;
}
.contactanos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 120px;
}
.contacto{
  display: inherit;
  flex-direction: row;
  height: 93px;
  justify-content: space-around;
}
.mini_recuadro{
  width: 1px;
  height: 100%;
  background-color: white;
}
#hero_contacto{
  width: 100%;
  height: 597px;
  background-image: url("../img/contacto1.jpg");
  -webkit-background-image: url("../img/contacto1.jpg");
  background-size: cover;
  -webkit-background-size: cover;
}
#map{
  width: 100%;
  height: 480px;
}
/*

    MEDIA: 993PX

*/
@media (max-width: 993px){
  #the_bar{
    transition: 0s;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
  .logo{
    height: 50px;
    margin-left: 30px;
  }
  #hero_text{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .parrafo{
    font-size: 28px;
  }
  .bold{
    font-weight: bold;
    font-size: inherit;
    color:inherit;
  }
  .goal{
    width: 55%;
  }
  #img_lideres{
    display: flex;
    justify-content: center;
  }
  #p2{
    width: 80%;
    margin: auto;
  }
  #img_elevamos img{
    width: 55%;
    height: 100%;
  }
  #img_elevamos{
    display: flex;
    justify-content: center;
    padding-top: 30px
  }
  #parrafo_elevamos{
    margin-top: 0px;
  }
  .sp{
    font-size: 28px;
    text-align: right;
    margin: 150px 0px;
  }
  .copyright{
    color: black;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-bottom: 0px;
  }
  #footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .missionIcon{
    width: 30%;
  }
  .visionIcon{
    width: 33%;
  }
  .p_mision{
    font-size: 25px;
    color: black;
    text-align: center;
    margin: 15px 30px;
  }
  #hero_text_servicios p{
      font-size: 30px;
  }
  .columna_a, .columna_b{
    width: 50%;
    padding-right: 20px;
  }
  .soluciones{
    position: relative;
    margin-top: 145px;
  }
  #lupa{
    width: 70px;
    order: -2;
    position: absolute;
    top: -120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(-45deg);
  }
  #lupa img{
    width: 100%;
  }
  .title_s{
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
  }
  .reparaciones{
    position: relative;
    margin-top: 145px;
  }
  .llave{
    width: 50px;
    order: -2;
    position: absolute;
    top: -140px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(45deg);
  }
  .title_r{
    text-align: center;
    font-size: 35px;
  }
  .subtitle_r{
    text-align: center;
    padding-left: 0px;
  }
  .p_nombre{
    font-size: 18px;
  }
  .p_resaltado{
    font-size: 19px;
  }
  #hero_contacto{
    background-position: -300px 0px;
  }
}
/*

MEDIA 700PX

*/
@media (max-width: 700px) {
  #hero_text{
    width: 100%;
  }
  #hero{
    background-position: -360px 0px;
    -webkit-background-position: -190px 0px;
  }
  #hero_nosotros{
    background-position: -660px 0px;
    -webkit-background-position: -660px 0px;
  }
  #seccion_vision{
    background-position: -300px 0px;
    -webkit-background-position: -660px 0px;
  }
  .title{
    color: white;
    font-size: 30.7px;
    text-align: center;
    font-weight: normal;
  }
  .resaltado{
    font-size: 32.9px;
  }
  .conoce_mas_boton{
    width: 167px;
    height: 40px;
    border-radius: 20.2px;
    border: solid 1px #ffffff;
    margin: 0 auto;
    transition: 0.3s;
    color: white;
  }
  #seccion_lideres{
    flex-direction: row;
  }
  .sp{
    font-size: 23px;
    text-align: right;
    margin: 150px 0px;
  }
  .copyright{
    color: black;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-bottom: 0px;
  }

  .logo_footer{
    position: inherit;
  }
  #hero_text_nosotros{
    width: 90%;
    top:80px;
  }
  #hero_text_nosotros p{
    font-size: 24px;
  }
  .p_mision{
    font-size: 23px;
    color: black;
    text-align: center;
    margin: 15px 30px;
  }
  #hero_text_servicios p{
      font-size: 25px;
  }
  .columna_a, .columna_b{
    width: 100%;
    padding-right: 20px;
  }
  .soluciones{
    display: block;
  }
  .title_s{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
  }
  .reparaciones{
    display: block;
  }
  .recuadro_contacto{
    width: 4px;
    background-color: white;
    /*height: 96px;*/
    float: left;
    margin-right: 10px;
  }
  #c_correo,#c_numeeuu,#c_numlocal{
    margin-bottom: 20px;
  }
  .contacto{
    flex-direction: column;
    justify-content: flex-start;
  }
  #o_principal, #o_local{
    padding-bottom: 10px;
  }
  #hero_contacto{
    height: 700px;
    background-position: -750px 0px;
  }
  #parrafo_elevamos p, #parrafo_elevamos h2 {
    font-size: 22px;
    color: white;
  }
  .parrafo {
    font-size: 22px;
  }
  .recuadro_contacto{
    display: none;
  }
  .div_rayado{
    border-left: 4px solid white;
    padding-left: 20px;
  }
  .p_resaltado{
    font-weight: bold;
  }
  .contactanos div{
    margin-top: 20px;
  }
  #hero_contacto{
    height: auto;
    padding-bottom: 30px;
  }
  .contacto{
    height: auto;
  }
}

@media (max-width: 400px){
  #seccion_vision{
    background-position: -430px 0px;
    -webkit-background-position: -660px 0px;
  }
}
/* Animations */
